{% extends 'Core.view.php' %}

{% block title %} Page not found! {% endblock %}

{% block head %}
		
	{{ parent() }}
	
	<link rel="stylesheet" href="https://medialoot.com/preview/lumino-premium/css/styles.css">	

{% endblock %}	

{% block body %}
		
				<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="error-page text-center">
					<h1>Error 404</h1>
					<h3>Page Not Found</h3>
					<p>The page you requested could not be found. Use your browsers Back button to navigate to the page or use the search form to find what you are looking for.</p>
					<form>
						<div class="input-group input-group-lg">
							<input type="text" placeholder="Search" class="form-control">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default" tabindex="-1">
										<i class="fa fa-search"></i>
									</button>
								</div>
						</div>
					</form>
					<br/>
					<a href="index.html" class="btn btn-lg btn-primary">Return to previous page</a>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->	

{% endblock %}

{%block footer %}
	
	<script type="text/javascript">
		window.onload = function() {
			document.querySelector('body').removeAttribute('class');
		};
	</script>	

{% endblock %}